# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.venv/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# Pytest / coverage
.pytest_cache/
htmlcov/
.coverage*

# Docker artefacts
*.log

# Misc
*.sqlite3

# Frontend
ui/node_modules/
ui/dist/
